/Course.class
/Main.class
/Marks.class
/School.class
/Student.class
/RegisterAge.class
/StudentInterface.class
/LoginInterfaceTeacher.class
/Teacher.class
/MarksInterface.class
/CalculateFactrial.class
